@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
    --primary: #7C3AED;
    --gray: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.page-header-nav {
    background-color: var(--primary);
    border-bottom-left-radius: 1rem;
}

.page-header-nav h3 {
    color: white;
}

.navigation-ul {
    list-style: none;
}

.navigation-li {
    display: inline-block;
    padding: 1rem 0.75rem;
}

.navigation-a {
    text-decoration: none;
    color: white;
}


.navigation-active-text {
    font-weight: bold;
}

.page-center-content {
    margin: auto;
}